name: CI
on:
  pull_request:
jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ 'adopt@1.8', 'adopt@1.11' ]
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 100
      - name: Fetch tags
        run: git fetch --depth=100 origin +refs/tags/*:refs/tags/*
      - uses: olafurpg/setup-scala@v10
        with:
          java-version: ${{ matrix.java }}
      - name: Coursier cache
        uses: coursier/cache-action@v6
      - name: sbt ci ${{ github.ref }}
        run: ./sbt ci
